<app-breadcrumb currentLabel="Stored Procedures Loading and Processing"></app-breadcrumb>

<div class="custom-class">
  <header class="app-page-header">
    <h1 class="app-use-case">Stored Procedures Loading and Processing</h1>
    <h2 class="app-page-title">Database Type Selection</h2>
  </header>

  <section class="app-box">
    <mat-accordion [togglePosition]="'before'">
      <mat-expansion-panel (afterExpand)="aposExpandirConexao()" [expanded]="expandiuConexao">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="app-filter-title">Database Type</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="app-box-body app-grid">

          <mat-form-field>
            <mat-label>Database Type</mat-label>
            <mat-select [(ngModel)]="cargaDtoConexao.tipoBancoDeDados"
                        (ngModelChange)="expandiuConexao = false; setNomeTipoBancoDeDados()"
                        [disabled]="!servidorDisponivel" id="combo-tipoBancoDeDados" name="tipoBancoDeDados" required>
              <mat-option *ngFor="let valor of supportedDatabases; index as i"
                          [value]=valor.id> {{ valor.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>
