@import '../../../../app/styles/_custom-angular-material.scss';
@import '../../../../app/styles/_custom-mat-checkbox.scss';

p {
  font-size: 15px;
}

h1 {
  font-size: 17px;
  margin: 0;
}

.modal-confirmacao-button {
  margin: 10px;
}

.databaseSchema {
  width: 80px;
}
