<section class="app-box app-box-highlight">
  <footer>
    <div class="banners">
      <div>
        <a href="http://www.uece.br/gesad/" target="_blank">
          <img alt="Logotipo do Gesad" class="img-logo-gesad"
               src="../../../../assets/img/template/gesad.png">
        </a>
      </div>
      <div>
        <a href="http://www.uece.br/ppgcc/" target="_blank">
          <img alt="Logotipo do PPGCC" class="img-logo-ppgcc"
               src="../../../../assets/img/template/Logo-PPGCC-Oficial-30.png">
        </a>
      </div>
      <div>
        <a href="http://www.uece.br/" target="_blank">
          <img alt="Logotipo da UECE" class="img-logo-uece"
               src="../../../../assets/img/template/logo-uece.png">
        </a>
      </div>
    </div>
  </footer>
</section>
