.app-grid {
  width: 100%;
  grid-template-columns: 1fr 2fr;
}

.app-grid-microsservico {
  width: 85%;
}

.space-height {
  height: 0.5cm;
}

.custom-class-modal {
  padding: 20px;
}
