<app-breadcrumb *ngIf="!data.modal" [currentLabel]="labelTitle">
  <app-crumb label="Variable Search" order="1" route="/analysis/variavel"></app-crumb>
</app-breadcrumb>

<div [class]="customClass">
  <header class="app-page-header">
    <h1 class="app-use-case">Variable</h1>
    <h2 class="app-page-title">{{ nomeOperacaoJanela }}</h2>
  </header>

  <section [class]="appBox">
    <form #variavelForm="ngForm" role="form">
      <header>Fill in the fields</header>
      <div *ngIf="data.modal" class="space-height"></div>
      <div class="app-box-body">
        <div class="app-grid fields">
          <div>
            <mat-form-field class="app-grid-stored-procedure">
              <mat-label>Stored Procedure</mat-label>
              <mat-select [(ngModel)]="variavel.idStoredProcedure"
                          [formControl]="idStoredProcedureFormControl" id="combo-stored-procedure"
                          panelClass="positionClass" required>
                <mat-option *ngFor="let valor of valoresComboStoredProcedure; index as i" [value]=valor.id>
                  {{ valor.noStoredProcedure }}
                </mat-option>
              </mat-select>
              <mat-error>Required field</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Data Type</mat-label>
            <mat-select [(ngModel)]="variavel.coTipoDado"
                        [formControl]="coTipoDadolFormControl" id="combo-coTipoDado" required>
              <mat-option *ngFor="let tipo of valoresComboTipoDado; index as i" [value]=tipo.id>
                {{ tipo.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)]="variavel.noVariavel" [formControl]="noVariavelFormControl"
                   autocomplete="off" id="noVariavel" matInput maxlength="200"
                   name="noVariavel" required type="text">
            <mat-error *ngIf="noVariavelFormControl.invalid">{{ retornaMensagemDeErronoVariavel() }}</mat-error>
          </mat-form-field>

        </div>
      </div>

      <footer>
        <ui-switch (change)="habilitaEdicao($event)" *ngIf="!isInclusao" [checked]="solicitouEdicao"></ui-switch>

        <button (click)="abrirModalIncluirOuEditarVariavel()" *ngIf="!data.modal" [disabled]="!variavelForm.valid || noVariavelFormControl.invalid ||
      !(noVariavelFormControl.value && noVariavelFormControl.value.trim())" [hidden]="(!isInclusao && !solicitouEdicao)"
                [label]="labelSaveAction"
                appBtn class="primary-action"
                icon="fa-save">
        </button>

        <button (click)="abrirModalIncluirOuEditarVariavel()" *ngIf="data.modal && data.acao === 'Insert'" [disabled]="variavelForm.invalid || noVariavelFormControl.invalid ||
      !(noVariavelFormControl.value && noVariavelFormControl.value.trim())" appBtn class="primary-action"
                icon="fa-save" label="Insert">
        </button>

        <button (click)="abrirModalIncluirOuEditarVariavel()" *ngIf="data.modal && data.acao === 'Update'" [disabled]="variavelForm.invalid || noVariavelFormControl.invalid ||
      !(noVariavelFormControl.value && noVariavelFormControl.value.trim())" appBtn class="primary-action"
                icon="fa-save" label="Save">
        </button>

        <button (click)="abrirModalDeletarVariavel()" *ngIf="!isInclusao && !solicitouEdicao"
                appBtn icon="fa-trash" label="Delete">
        </button>
        <button *ngIf="!data.modal && !solicitouEdicao" [routerLink]="['/analysis/variavel']" appBtn icon="fa-reply"
                label="Return">
        </button>
        <button (click)="close()" *ngIf="data.modal" appBtn icon="fas fa-window-close" label="Close">
        </button>


      </footer>
    </form>
  </section>
</div>
