USE [dbp_54808_sig2000]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sps_CadastroAnoVigente]
AS

SELECT ANEAnoVigente AS anoVigente
FROM PACAnoExercicio AS pacanoexercicio

FOR XML AUTO, ELEMENTS

GO
