<div class="espaco">&nbsp;</div>
<section class="app-box app-box-highlight">
  <header class="header-apresentacao">
    <img alt="Logotipo da SP2MIC"
         src="../../../assets/img/template/FullLogo_Transparent_NoBuffer_1.png"
         style="width: 4cm; height: 1.2cm">
    <div>
      <h3 class="apresentacao">Presentation</h3>
      <div class="sp2mic-small">
        <span class="bold">SP2MIC - </span>
        <span>A Tool for Microservice Code Generation from Stored Procedures</span>
      </div>
    </div>
  </header>
  <div class="app-box-body">
    <h3>A Tool for Microservice Code Generation from Stored Procedures</h3>

    <div class="tutorial">

      <img alt="SP2Mic Tutorial"
           src="../../../assets/img/template/sp2mic-tutorial.png">

    </div>

    <div class="text-columns">
      <p>In general terms, SP2Mic is able to carry out, in a semi-automatic way, the migration of business rules that
        are implemented in stored procedures to microservices, which aims to help developers and analysts in the
        evolution
        of software systems that suffer from obsolescence technical or maintenance necessity.
      </p>
      <p>
        Migrate stored procedures to microservices, can be considered as a translated process, the stored procedure
        source code will be read and transformed into another code. In order to have a division of responsibilities and
        a better organization, the tool was divided in three modules:
      </p>
      <ol>
        <li>Stored procedures loading and processing,</li>
        <li>Stored procedures analysis</li>
        <li>Microservices code generation.</li>
      </ol>

      <p>Functionalities:</p>
      <ul>
        <li>Stored Procedures - Loading and Processing;</li>
        <li>Stored Procedures - Analysis</li>
        <li>Microservices - Create, Read, Update and Delete</li>
        <li>DTO Class - Read, Update and Delete</li>
        <li>Microservices - Code Generation</li>
        <li>Orchestrator - Code Generation</li>
        <li>Api Gateway - Code Generation</li>
      </ul>

    </div>
  </div>
  <footer>&nbsp;</footer>
</section>
