@import '../../../../../app/styles/_custom-angular-material.scss';
@import '../../../../../app/styles/_app-mixins.scss';


li {
  position: relative;
  list-style: none;
  margin-left: px2em(0);

  &::after {
    @include pseudo($content: '»');
    top: 0;
    right: px2em(-16);
    color: $lightTextColor;
  }
}
